# IMPORTING PACKAGES

In [243]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
import joblib
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

# Importing Excel and setting index and null

In [244]:
orig = pd.read_excel("Project 7 Dataset.xlsx")
orig.set_index(orig.index, inplace=True)
orig["Market Category"].replace("N/A", pd.NA, inplace=True)
df = orig.copy()
df.set_index(df.index, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11199 entries, 0 to 11198
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11199 non-null  object
 1   Model              11199 non-null  object
 2   Year               11199 non-null  int64
 3   Engine Fuel Type   11199 non-null  object
 4   Engine HP          11199 non-null  int64
 5   Engine Cylinders   11199 non-null  int64
 6   Transmission Type  11199 non-null  object
 7   Driven_Wheels      11199 non-null  object
 8   Number of Doors    11199 non-null  int64
 9   Market Category    7861 non-null   object
 10  Vehicle Size       11199 non-null  object
 11  Vehicle Style      11199 non-null  object
 12  highway MPG        11199 non-null  int64
 13  city mpg           11199 non-null  int64
 14  Popularity         11199 non-null  int64
 15  MSRP               11199 non-null  int64
dtypes: int64(8), object(8)
memory usage: 1.4+ MB

In [245]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11199.000000,11199.000000,11199.000000,11199.000000,11199.000000,11199.000000,11199.000000,1.119900e+04
mean,2010.714528,253.147424,5.654344,3.454237,26.610590,19.731851,1558.483347,4.192593e+04
std,7.228211,110.076545,1.809191,0.872896,8.977641,9.177555,1445.668872,6.153505e+04
min,1990.000000,55.000000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,171.000000,4.000000,2.000000,22.000000,16.000000,549.000000,2.159950e+04
50%,2015.000000,239.000000,6.000000,4.000000,25.000000,18.000000,1385.000000,3.067500e+04
75%,2016.000000,303.000000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.303250e+04
max,2017.000000,1001.000000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

# Encoding Categorical values to numerical

In [246]:
label_enc = LabelEncoder()
df['Engine Fuel Type'] = label_enc.fit_transform(df['Engine Fuel Type'])
df['Transmission Type'] = label_enc.fit_transform(df['Transmission Type'])
df['Driven_Wheels'] = label_enc.fit_transform(df['Driven_Wheels'])
df['Vehicle Size'] = label_enc.fit_transform(df['Vehicle Size'])
df['Vehicle Style'] = label_enc.fit_transform(df['Vehicle Style'])

# Scaling numerical features

In [247]:
numerical_columns = ['Engine Fuel Type','Engine HP','Engine Cylinders','Transmission Type','Driven_Wheels','Number of Doors','Vehicle Size','Vehicle Style', 'highway MPG','city mpg']
scaler = MinMaxScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Seperating Data with null values in Market Category

In [248]:
null_data = df[df['Market Category'].isnull()]
non_null = df[df['Market Category'].notnull()]

# Train- Test Split and creating Validation set

In [249]:
train_data, validation_data = train_test_split(non_null, test_size=0.2,random_state=42)
test_data = pd.concat([null_data, validation_data], ignore_index=False)

X_train = train_data[numerical_columns]
y_train = train_data['Market Category']

# Building and Training Knn classifier model

In [252]:

X_test = test_data[numerical_columns]


classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train, y_train)

y_test_validation = classifier.predict(X_test)
test_data['ImputedMarketCategory'] = y_test_validation

In [253]:
test_data

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,ImputedMarketCategory
347,Mazda,3,2015,1.000000,0.105708,0.250,0.333333,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.176923,586,23795,Performance
348,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.169231,586,19595,Performance
349,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.169231,586,18445,Performance
355,Mazda,3,2015,1.000000,0.105708,0.250,0.333333,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.176923,586,19495,Performance
360,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.169231,586,16945,Performance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,Hyundai,Veloster,2014,1.000000,0.154334,0.250,1.000000,0.666667,0.5,"Hatchback,Performance",0.0,0.000000,0.061404,0.130769,1439,21300,"Hatchback,Performance"
433,BMW,4 Series,2017,0.777778,0.280127,0.375,0.333333,1.000000,0.0,"Luxury,Performance",1.0,0.400000,0.049708,0.107692,3916,57300,"Luxury,Performance"
10165,Mazda,Tribute,2011,1.000000,0.122622,0.250,0.333333,0.000000,1.0,Crossover,0.0,0.200000,0.040936,0.100000,586,25495,Crossover
10098,Chevrolet,Traverse,2016,1.000000,0.238901,0.375,0.333333,0.000000,1.0,Crossover,1.0,0.200000,0.029240,0.061538,1385,36005,Crossover
6407,Acura,MDX,2016,0.777778,0.248414,0.375,0.333333,0.000000,1.0,"Crossover,Luxury",1.0,0.200000,0.040936,0.084615,204,51440,"Crossover,Luxury"

# Checking accuracy with validation data

In [254]:

# Extract the actual 'Market Category' values for the records where 'Market Category' is not null
actual_values_not_null = test_data.loc[test_data['Market Category'].notnull(), 'Market Category']

# Extract the predicted values from the 'ImputedMarketCategory' column for the same records
predicted_values = test_data.loc[test_data['Market Category'].notnull(), 'ImputedMarketCategory']


accuracy = accuracy_score(actual_values_not_null, predicted_values)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 84.55%

In [279]:
final_d = test_data[test_data['Market Category'].isnull()]

In [280]:
orig

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335,6,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11194,Acura,ZDX,2012,premium unleaded (required),300,6,AUTOMATIC,all wheel drive,4,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11195,Acura,ZDX,2012,premium unleaded (required),300,6,AUTOMATIC,all wheel drive,4,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11196,Acura,ZDX,2012,premium unleaded (required),300,6,AUTOMATIC,all wheel drive,4,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11197,Acura,ZDX,2013,premium unleaded (recommended),300,6,AUTOMATIC,all wheel drive,4,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11198,Lincoln,Zephyr,2006,regular unleaded,221,6,AUTOMATIC,front wheel drive,4,Luxury,Midsize,Sedan,26,17,61,28995

In [281]:
final_d

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,ImputedMarketCategory
347,Mazda,3,2015,1.000000,0.105708,0.250,0.333333,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.176923,586,23795,Performance
348,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.169231,586,19595,Performance
349,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.169231,586,18445,Performance
355,Mazda,3,2015,1.000000,0.105708,0.250,0.333333,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.176923,586,19495,Performance
360,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.084795,0.169231,586,16945,Performance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11079,Subaru,XT,1991,1.000000,0.095137,0.375,1.000000,0.000000,0.0,NaN,0.0,0.533333,0.032164,0.069231,640,2000,"Factory Tuner,Performance"
11094,Toyota,Yaris iA,2017,1.000000,0.053911,0.250,1.000000,0.666667,1.0,NaN,0.0,0.933333,0.078947,0.176923,2031,15950,Luxury
11095,Toyota,Yaris iA,2017,1.000000,0.053911,0.250,0.333333,0.666667,1.0,NaN,0.0,0.933333,0.081871,0.192308,2031,17050,Performance
11152,GMC,Yukon,2015,0.777778,0.385835,0.500,0.333333,1.000000,1.0,NaN,0.5,0.200000,0.026316,0.061538,549,64520,"Luxury,Performance"
11153,GMC,Yukon,2015,0.777778,0.385835,0.500,0.333333,0.333333,1.0,NaN,0.5,0.200000,0.026316,0.053846,549,67520,Performance

In [282]:
final_d.drop(columns=['Market Category'], inplace=True)

C:\Users\akash\AppData\Local\Temp\ipykernel_16040\2671716727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_d.drop(columns=['Market Category'], inplace=True)

In [283]:
final_d.rename(columns={'ImputedMarketCategory': 'Market Category'}, inplace=True)

C:\Users\akash\AppData\Local\Temp\ipykernel_16040\3769045508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_d.rename(columns={'ImputedMarketCategory': 'Market Category'}, inplace=True)

In [284]:
final_d

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP,Market Category
347,Mazda,3,2015,1.000000,0.105708,0.250,0.333333,0.666667,1.0,0.0,0.933333,0.084795,0.176923,586,23795,Performance
348,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,0.0,0.933333,0.084795,0.169231,586,19595,Performance
349,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,0.0,0.933333,0.084795,0.169231,586,18445,Performance
355,Mazda,3,2015,1.000000,0.105708,0.250,0.333333,0.666667,1.0,0.0,0.933333,0.084795,0.176923,586,19495,Performance
360,Mazda,3,2015,1.000000,0.105708,0.250,1.000000,0.666667,1.0,0.0,0.933333,0.084795,0.169231,586,16945,Performance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11079,Subaru,XT,1991,1.000000,0.095137,0.375,1.000000,0.000000,0.0,0.0,0.533333,0.032164,0.069231,640,2000,"Factory Tuner,Performance"
11094,Toyota,Yaris iA,2017,1.000000,0.053911,0.250,1.000000,0.666667,1.0,0.0,0.933333,0.078947,0.176923,2031,15950,Luxury
11095,Toyota,Yaris iA,2017,1.000000,0.053911,0.250,0.333333,0.666667,1.0,0.0,0.933333,0.081871,0.192308,2031,17050,Performance
11152,GMC,Yukon,2015,0.777778,0.385835,0.500,0.333333,1.000000,1.0,0.5,0.200000,0.026316,0.061538,549,64520,"Luxury,Performance"
11153,GMC,Yukon,2015,0.777778,0.385835,0.500,0.333333,0.333333,1.0,0.5,0.200000,0.026316,0.053846,549,67520,Performance

# Updating orig dataframe with new Imputed Values

In [285]:
orig.loc[orig['Market Category'].isnull(), 'Market Category'] = final_d['Market Category']a

In [287]:
orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11199 entries, 0 to 11198
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11199 non-null  object
 1   Model              11199 non-null  object
 2   Year               11199 non-null  int64
 3   Engine Fuel Type   11199 non-null  object
 4   Engine HP          11199 non-null  int64
 5   Engine Cylinders   11199 non-null  int64
 6   Transmission Type  11199 non-null  object
 7   Driven_Wheels      11199 non-null  object
 8   Number of Doors    11199 non-null  int64
 9   Market Category    11199 non-null  object
 10  Vehicle Size       11199 non-null  object
 11  Vehicle Style      11199 non-null  object
 12  highway MPG        11199 non-null  int64
 13  city mpg           11199 non-null  int64
 14  Popularity         11199 non-null  int64
 15  MSRP               11199 non-null  int64
dtypes: int64(8), object(8)
memory usage: 1.4+ MB

In [288]:
orig.to_excel('Final_Data.xlsx',index=False)